*{
 font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #3FAEF2, #5E45FF );
}

p{
    text-align: justify;
}

main{
    background-color: white;
    width: 600px;
    margin: auto;
    padding-top: 8px;
    border-radius: 8px;
    box-shadow: 8px 5px 15px rgba(56, 28, 97, 0.589);
}
h1{
    color: #8A42F5;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(20, 11, 34, 0.849);
}
h1:hover{
    color: #3FAEF2;
}

h2{
    color: #5E45FF;
    margin-left: 10px;
}