@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    
}

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

*{
    margin: 0;
    padding: 0;
}

body{

    background-color:#44E379;
}

.menu .box-container{
    background-color: #00DE4A;
    

}

.menu .box-container h1{
    text-align: center;
    color: white;
    font-family: 'Bebas Neue',cursive;
    font-weight: normal;
    font-size: 2em;
    padding: 20px;
    margin: 0;
}

.menu .box-container h2{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding: 10px;
}

.menu .box-container div{
    padding: 20px;
}

.menu .box-container div a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 8px;
    border-radius: 7px;
}

.menu .box-container div a:hover{
    background-color: green;
    
   
}

.contexto{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
   padding: 20px;
   background-color: white;
}

.contexto .box-container h1{
    font-family:'idroid';
    color: rgb(25, 199, 25);
    font-size: 1.7em;
    padding:20px;
    text-indent: 30px;
    margin: 0;
}

.contexto .box-container p{
    text-align: justify;
    color: black;
    text-indent: 16px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    margin: 0;
}

.contexto .box-container p a{
    color: rgb(25, 199, 25);
}

.contexto .box-container > h2{
    font-family: 'idroid';
    color: rgb(25, 199, 25);
    background-color: rgba(25, 199, 25, 0.068);
    text-indent: 36px;
}

.contexto .box-container .img{
    max-width: 320px;
    margin: auto;
    display: block;
}

.iframe{
    background-color: green;
    margin: 0px -20px 30px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div .iframe > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color:#44E379 ;
    border-radius: 10px;
    padding: 10px;
}

aside ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside h2{
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    background-color: green;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
    padding: 10px;

}
 

footer{
    margin: 0;


}
footer p{
    background-color: green;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer p a{
    color: rgb(0, 255, 0);
}



